# ============================================= Start Noted Model ===================================
# Author : FastFlow | https://github.com/Mabot17/fastflow_seed_be
# 1. Koneksi Table di database
# 2. Relasi Table di database bisa juga dilakukan disini
# 3. Dibuat otomatis oleh `fastflow module new` dari table `{{ table }}`
# ============================================= END Noted Model ===================================
from database import Base
from sqlalchemy import {{ (["Column"] + sa_imports) | join(", ") }}


class {{ Fitur }}Model(Base):
    __tablename__ = "{{ table }}"

{% for c in columns %}
    {{ c.attr }} = Column("{{ c.name }}", {{ c.sa_type }}{% if c.is_pk %}, primary_key=True, index=True{% endif %})
{% endfor %}
