# ============================================= Start Noted Check ===================================
# Author : PT. Dapur Perangkat Lunak Indonesia | KoffieSoft Group | https://www.koffiesoft.com/ | info@koffiesoft.com
# 1. Pengecekan data {{ fitur_title }} (ada / tidak, duplikat)
# 2. File ini HANYA boleh meng-import model & sqlalchemy (jangan import crud/json_helpers),
#    supaya bisa dipakai dari router, crud, json_helpers, maupun modul lain tanpa circular import
# 3. Dibuat otomatis oleh `erp module new` dari table `{{ table }}`
# ============================================= END Noted Check ===================================
from sqlalchemy import and_
from sqlalchemy.orm import Session
from core.modules.{{ module_path }}.model.{{ fitur }}_model import {{ Fitur }}Model


async def check_{{ fitur }}(
    db: Session, {{ pk }}: int, exclude_{{ pk }}: int = None
):
    filter = [
        {{ Fitur }}Model.{{ pk }} == {{ pk }},
{% if has_deleted_at %}
        {{ Fitur }}Model.deleted_at.is_(None),
{% endif %}
{% if has_deleted_by %}
        {{ Fitur }}Model.deleted_by.is_(None),
{% endif %}
    ]

    if exclude_{{ pk }}:
        filter.append({{ Fitur }}Model.{{ pk }} != exclude_{{ pk }})

    return db.query({{ Fitur }}Model).filter(and_(*filter)).first()
{% if unique_column %}


async def check_{{ fitur }}_{{ unique_suffix }}(
    db: Session, {{ unique_column }}: str, exclude_{{ pk }}: int = None
):
    filter = [
        {{ Fitur }}Model.{{ unique_column }} == {{ unique_column }},
{% if has_deleted_at %}
        {{ Fitur }}Model.deleted_at.is_(None),
{% endif %}
{% if has_deleted_by %}
        {{ Fitur }}Model.deleted_by.is_(None),
{% endif %}
    ]

    if exclude_{{ pk }}:
        filter.append({{ Fitur }}Model.{{ pk }} != exclude_{{ pk }})

    return db.query({{ Fitur }}Model).filter(and_(*filter)).first()
{% endif %}
